@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

h1 {
    font-family: $font-roboto-slab;
    font-weight: $font-weight-light;
    font-size: 38px;
}

a {
    text-decoration: none;
}


