<!-- <div id="background">
    <img src="/wp-content/themes/cenas/images/background_simple.jpg" class="stretch" alt="" />
</div> -->
<!-- <div id="large-header" class="large-header">
 <div class="moon"><img  src="/wp-content/themes/cenas/images/motion-02.png"></div>
 <canvas id="demo-canvas"></canvas>
</div> -->

<ul id="scene">
	<div class="stars">
	  <li class="layer" data-depth="0.40"><img src="/wp-content/themes/cenas/images/stars_little.png"></li>
	  <li class="layer" data-depth="0.90"><img src="/wp-content/themes/cenas/images/stars_little3.png"></li>
	</div>
</ul>

	
<div class="content">
	<!--
	<div id="parallaxContainer">
		<div class="layer1"><img src="/wp-content/themes/cenas/images/stars_little.png"></div>
		<div class="layer2"><img src="/wp-content/themes/cenas/images/stars_little2.png"></div>
		<div class="layer3"><img src="/wp-content/themes/cenas/images/stars_little3.png"></div>

	</div> -->
	
	<div class="spacer s0" id="trigger2">
		<div id="target2">
			<!-- <img id="spaceship" src="/wp-content/themes/cenas/images/spaceship.png"> -->
		</div>
	</div>
	<div class="spacer s0" id="trigger">
		<div id="target">
			 <img id="plane" src="/wp-content/themes/cenas/images/spaceship2.png"> 
		</div>
	</div>


	<div class="planets" id="planet_trigger" >
		
		<div class="birth">
			<img id="et1" src="/wp-content/themes/cenas/images/ets_1.png">
			<img id="planet2" src="/wp-content/themes/cenas/images/planet2.png">
		</div>

		<img id="planet6" src="/wp-content/themes/cenas/images/littleplanets-05.png">

		<div class="english">
			<img id="et2" src="/wp-content/themes/cenas/images/ets_2.png">
			<img id="planet3" src="/wp-content/themes/cenas/images/planet3.png">
		</div>

		<img id="planet7" src="/wp-content/themes/cenas/images/littleplanets-06.png">
		<img id="planet5" src="/wp-content/themes/cenas/images/littleplanets-07.png">

		<div class="cm">
			<img id="et3" src="/wp-content/themes/cenas/images/ets_3.png">		
			<img id="planet4" src="/wp-content/themes/cenas/images/planet4.png">
		</div>

	</div>
	<div class="skills-prog">
		<img src="/wp-content/themes/cenas/images/placas-04.png">
	</div>
	
	<div class="skills-software">
		<img src="/wp-content/themes/cenas/images/placas-05.png">
	</div>
	
	<div class="skills">	
		<img id="skills" src="/wp-content/themes/cenas/images/skills_software.png">
	</div>

	<div class="cometa">	
		<img id="cometa" src="/wp-content/themes/cenas/images/cometa.png">
	</div>


	<div class="moon">
	<img id="doll" src="/wp-content/themes/cenas/images/motion-02.png">
	</div>


	<div class="final">		
		<img id="spaceshipme" src="/wp-content/themes/cenas/images/spaceshipme.png">
		
		<ul class="interests">
			<!--
			<li class="layer" id="coffee" data-depth="0.50"><img  src="/wp-content/themes/cenas/images/cafe.png"></li>
			<li class="layer" id="pencil" data-depth="0.90"><img  src="/wp-content/themes/cenas/images/lapis.png"></li>
			<li class="layer" id="book" data-depth="0.75"><img src="/wp-content/themes/cenas/images/book.png"></li>
			-->
			<li class="layer" id="placa" data-depth="0.50">
				<img src="/wp-content/themes/cenas/images/placas-07.png">
			</li>
		</ul>

	</div>
	<div class="me">
		<img src="/wp-content/themes/cenas/images/me.png">		
	</div>


	<div class="rocket" id="rocket_trigger">
		<img src="/wp-content/themes/cenas/images/rocket_0-08.png">	
		<div class="buttons">
			<a href="https://www.behance.net/srfc"><img id="be" src="/wp-content/themes/cenas/images/button_be.png"></a>
			<a href="https://pt.linkedin.com/in/srfcarvalho"><img id="in" src="/wp-content/themes/cenas/images/button_in.png"></a>
		</div>
	</div>
	<div class="earth">
		<img src="/wp-content/themes/cenas/images/earth-01.png">
	</div>
</div>
